/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #5873ac;
  --first-color-alt: #455391;
  --title-color: #393939;
  --text-color: #000000;
  --body-color: #fefbfd;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Vidaloka', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --smallest-font-size: .57rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}


/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-container-small{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}


.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #576a9c;
  height: 2cm;
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color);
}

/* The dots/bullets/indicators */


.dots {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dots:hover {
  background-color: #717171;
}

/*========== BOOKS ==========*/
.books__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  
}

.books__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3, 31, 74, 0.15);

  padding: .75rem .75rem 3rem .75rem; 

}

.books__content:hover{
  
  background-color: rgba(201, 196, 196, 0.3);
  transition: .3s;
  
}

.books__img{
  width: 180px;
  height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  filter: drop-shadow(0 5px 2px rgba(80, 79, 79, 0.2));
}

.books__name{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.books__name{
  font-size: var(--normal-font-size);
}

.books__author{
  color : #717171;
  font-size: var(--small-font-size);
}
.books__author{
  margin-bottom: var(--mb-4);
}

.books__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

.books__button_detail{
  font-size: var(--smallest-font-size);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;  
  padding: .625rem .813rem;
  border-radius: 0 .5rem 0 .5rem;
}


/*========== DETAIL ==========*/
.detail__data{
  text-align: initial;
}

.detail__description{
  margin-bottom: var(--mb-3); 
}

.detail__description b{
  font-weight: var(--font-semi-bold);
}

.detail__img{
 min-width: 7.5rem;
}

/*========== SLICK ==========*/
.slick_two
{
  width: 90%;
  margin: auto;
}


/*--========== Breadcrumb Pagination ==========--*/
.breadcrumb-pagination{
  border-bottom:  1px solid rgba(201, 196, 196, 0.3);
}

.breadcrumb {
  padding: 5px 5px;
  list-style: none;  
}
.breadcrumb li {
  display: inline;
  font-size: var(--small-font-size);
}
.breadcrumb li+li:before {
  padding: 8px;
  color: var(--text-color);
  content: "/\00a0";
}
.breadcrumb li a {
  color: var(--first-color);
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: var(--first-color-alt);
}


/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .detail__container{
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
  }

  .detail__data, .detail__initial{
    text-align: initial;
  }

  .detail__img{
    width: 380px;
    order: -1;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
}

@media screen and (min-width: 960px){


  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .detail__container{
    column-gap: 2rem;
  }
}























